* {
  /* chiều cao va chiều rộng sẽ ko bị thay đối khi bị tác động bới padding và border*/
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --color-btn: #ffb900;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ================ common all ============== */
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
a {
  /* loại bỏ gạch chân cho thẻ a */
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  color: #fff;
  min-width: 118px;
  /* xét chiều cao cho nut bấm */
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
}
/* hiện thị dấu ... trên 1 dòng nếu đoạn text quá dài */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* nếu dài quá 2 dòng thì mới hiển thị dấu ... */
.line-clamp.line-2 {
  --line-clamp: 2;
}
/* nếu người dùng cố tình nhập 1 link dài hoặc 1 từ viết liền làm vỡ giao diện */
.break-all {
  /* bẻ gãy tất cả */
  word-break: break-all;
}
/* ================ header ============== */
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body-header {
  align-items: center;
  display: flex;
  padding: 36px 0 8px;
}
.nav {
  /* chuyển thanh diều hướng sang bên trái */
  margin-left: auto;
  /* float: left; */
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* dùng shadow: trục ngang trục dọc độ nhòe và lấy màu hiện tại */
  text-shadow: 1px 0 0 currentColor;
  /* font-weight: 600; */
}
.nav li.active a::after {
  display: block;
  content: " ";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action .btn-sign-up {
  margin-left: 49px;
}
/* ======================= hero ================= */
.hero {
  padding: 56px 0px 56px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
/*===================== hero left ============= */
.hero .media-block {
  /* lấy 570/1170 ra chiều rộng bên trái */
  width: 48%;
  position: relative;
}

/*  sử lí ảnh */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  /* sử dụng object-fit: cover để tránh vỡ ảnh */
  object-fit: cover;
}
.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  height: 244px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + item {
  margin-top: 22px;
}
.hero .icon {
  width: 48px;
  height: 48px;
  background-color: #fff9e8;
  border-radius: 50%;
  /* căn giữa cho khối */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
/* ================= hero right ===================== */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .hero-btn {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--color-btn);
}
.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  /* căn theo chục ngang */
  align-items: center;
  /* hiện thị hình  bàn tay cho người dùng biết là có thể click được */
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero .desc-Recent {
  margin-top: 48px;
}
.hero .desc-start strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}
.hero .desc-start {
  margin-top: 8px;
}
.hero .desc-start .strong-Courses {
  margin-left: 28px;
}
/* =================== popular =============== */
.popular {
  margin-top: 135px;
  padding: 65px 0px;
  /* background-color: blue; */
}
.popular .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.popular .popular-top {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.popular-top .controls {
  display: inline-flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-btn);
  color: var(--color-btn);
}
.popular-top .control-btn:hover {
  background-color: var(--color-btn);
  color: #fff;
  cursor: pointer;
}
/* popular main */
.popular .course-list {
  /* width: 940px; */
  margin-top: 55px;
  display: flex;
  gap: 30px;
  /* background-color: blue; */
}
.course-list .course-item1 {
  max-width: 31.5%;
}
.popular .desc {
  margin-top: 6px;
  width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.popular .course-item .thumb {
  /* width: 370px; */
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
/* .popular .course-item .desc {
  padding-right: 148px;
} */
.popular .course-item .foot,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular .course-item .title,
a {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.popular .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .btn-book {
  width: 118px;
  height: 50px;
  border-radius: 25px;
  border: none;
}
.popular .btn-book:hover {
  background-color: var(--color-btn);
  cursor: pointer;
}
/* ======================== feedback ================ */
.feedback {
  margin-top: 135px;
  padding: 96px 0px;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  /* dịch chuyển feedback */
  transform: translateX(-100%);
  transition: all ease 0.5s;
}
.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  object-fit: cover;
}
.feedback .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.feedback .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.feedback .info .dots {
  display: flex;
  margin-top: 28px;
  /* khoảng cách giữa các phần tử */
  gap: 6px;
}
.feedback .info .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
/* nếu có cả class .dot và .active thì mới bị ảnh hưởng */
.feedback .info .dot.active {
  background-color: var(--color-btn);
  cursor: default;
}
.feedback .content {
  width: 66%;
  /* justify-content: space-between; */
  margin-left: auto;
}
.feedback .content blockquote {
  margin-right: 135px;
  /* width: 740px; */
  color: #fff;
  font-weight: 400;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}
/* ================= features 1 =============== */
.features {
  padding: 65px;
  margin-top: 135px;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover; /* tránh vỡ ảnh*/
}
.features .images .lower {
  margin-top: 34px;
}
.features .content {
  width: 41%; /* 470 /1170 */
  /* căn theo chiều ngang */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .content .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.features .content .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  flex-shrink: 0;
  background-color: var(--color-btn);
}
/* ================= features 2 =============== */
.features-2nd .body {
  display: flex;
  /* đổi chiều trục row  */
  flex-direction: row-reverse;
}
.features-2nd {
  margin-top: 65px;
}
.features-2nd .content {
  width: 49%;
}
.features-2nd .images img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}
/* ==================== blog ========================= */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}
.blog .blog-top {
  text-align: center;
}
.blog .blog-top .desc {
  margin: 0 auto;
  margin-top: 16px;
  width: 448px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.blog .blog-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.blog-item {
  width: 32%;
  border-radius: 16px;
  background: #fff;
}
.blog .blog-item:hover {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog-item .thumb {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  height: 250px;
  object-fit: cover;
}
.blog .blog-item .info {
  padding: 20px 20px 28px;
}
.blog .blog-item .date {
  position: relative;
  display: flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  padding-bottom: 12px;
}
.blog .blog-item .date::before {
  margin-right: 4px;
  width: 6px;
  height: 6px;
  content: "";
  display: inline-block;
  background-color: var(--color-btn);
  border-radius: 50%;
}
.blog .blog-item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 160px;
  margin-right: -27px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blog .blog-item .title {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.blog .blog-item .btn {
  margin-top: 12px;
}
.blog .blog-item .btn:hover {
  background-color: var(--color-btn);
}
